<h3>Edit your data</h3>
<form action="/users/<%= user.id %>/edit" method="post">
    <div class="mb-3">
        <label>Firstname</label>
        <input type="text" name="firstName" class="form-control" value="<%= user.firstName %>" required>
    </div>
    <div class="mb-3">
        <label>Lastname</label>
        <input type="text" name="lastName" class="form-control" value="<%= user.lastName %>" required>
    </div>
    <div class="mb-3">
        <label>Age</label>
        <input type="number" name="age" class="form-control" value="<%= user.age %>">
    </div>
    <div class="mb-3">
        <label>Role</label>
        <select name="Role" class="form-select" required>
            <option value="admin" <%=user.Role=="admin" ?"selected":"" %>>Admin</option>
            <option value="employee" <%=user.Role=="employee" ?"selected":"" %> >employee</option>
        </select>
    </div>
    <div class="mb-3">
        <label>Username</label>
        <input type="text" name="username" class="form-control" value="<%= user.username %>" required>
    </div>
    <button class="btn btn-primary" type="submit"> Submit</button>
</form>